<html>
	<h1>hello Hello Kitty!!</h1>
	My name is <%= @name %> 
	 <div style='border: 3px dashed red'>
	 	<% if @visitor %>
	 	Hello, <% @visitor %>!
	 	<% end %>
	 	<% if @name %>
	 	My name is <% @name %>
	 	<% end %>
    	<img src='http://bit.ly/1eze8aE'>
    </div>
</html>
